* {
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding: 20px 20px;
}

.header {

height: 60px;
background: rgba(244, 253, 254, 1);

}

.header a {

    text-decoration: none;
    font-family: Playfair Display;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
color: rgba(16, 28, 38, 1);
gap: 20px;

}

.header button {
font-family: Playfair Display;
font-size: 16px;
font-weight: 600;
line-height: 19.2px;
text-align: center;
color: rgba(255, 255, 255, 1);
background: rgba(0, 149, 164, 1);
width: Hug (106px)px;
height: Hug (39px)px;
padding: 10px 24px 10px 24px;
gap: 10px;
border-radius: 50px;
border: none;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.hero h1 {
    font-family: Playfair Display;
font-size: 68px;
font-weight: 700;
line-height: 81.6px;
text-align: left;
color: rgba(12, 22, 35, 1);
text-transform: capitalize;
}
.hero span {
    font-family: Playfair Display;
font-size: 68px;
font-weight: 700;
line-height: 81.6px;
text-align: left;
color: rgba(0, 149, 164, 1);
}
.hero p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 27.2px;
text-align: left;
color: rgba(18, 34, 55, 1);
}
.hero button {
    width: 154px;
    height: 52px;
    border-radius: 60px;
    background: rgba(0, 149, 164, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-family: Playfair Display;
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: center;
margin-top: 10px;

}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.hero-box {
    width: 353px;
    height: 181px;
border-radius: 6px ;
background: rgba(255, 255, 255, 1);


}
.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

.hero-box h4 {
    font-family: Playfair Display;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: left;
color: rgba(12, 22, 35, 1);
text-transform: capitalize;
}
.hero-box h5 {
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: left;
color: rgba(62, 86, 88, 0.7);
text-transform: capitalize;
padding: 10px 0;
}

.hero-box button {
    width: 92px;
height: 28px;
top: 637px;
left: 225px;
border-radius: 10px;
font-family: Playfair Display;
border: none;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
color: rgba(54, 198, 207, 1);
background: rgba(162, 166, 168, 0.7);
text-transform: capitalize;


}
.hero-box p {
    font-family: Playfair Display;
font-size: 18px;
font-weight: 500;
line-height: 21.6px;
text-align: left;
color: rgba(54, 198, 207, 1);
padding-top: 10px;
}
.img {

    position: absolute;
    padding-top: 20px;
    padding: 50px 40px;
    
  

}

.hero-box {
    position: absolute;
    margin-top: 150px;

}
.hero-box2 {
    width: 288px;
height: 189px;
left: 1048px;
top: 230px;
border-radius: 6px;
background:white;
position: absolute;

}
.hero-block2 {
    width: 62px;
height: 62px;
padding-left: 245px;

}

.block h4 {
    font-family: Playfair Display;
font-size: 24px;
font-weight: 500;
color: rgba(2, 28, 28, 1);
text-transform: capitalize;
padding-left: 15px;

}

.block h5 {
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
color: rgba(62, 86, 88, 0.7);
text-transform: capitalize;
padding-left: 15px;
}

.block span {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: rgba(54, 198, 207, 1);
}
.block p {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 400;
line-height: 20.2px;
padding-left: 15px;
color: rgba(18, 34, 55, 1);
}

.background1 {
    padding-top: 300px;
width: 1240px;
height: 20px;
background:white;
}
.background2 {
    width: 1300px;
    padding-top: 60px;
    height: 180px;
    background: rgba(232, 239, 244, 1);
}
.recomend {
    width: 1300px;
height: 735px;
background: rgba(244, 253, 254, 1);

}
.recomend h3 {
    font-family: Playfair Display;
font-size: 46px;
font-weight: 600;
padding-left: 50px;
padding-top: 60px;
padding-bottom: 30px;
color: rgba(12, 22, 35, 1);
}

.recomend span {
    font-family: Playfair Display;
font-size: 46px;
font-weight: 600;
line-height: 55.2px;
color: rgba(0, 149, 164, 1);
}
.recomend img {
    position: absolute;
}
.recomend-image {
    position: relative;
    width: 284px;
height: 417px;
top: 257px;
left: 339px;

}

.recomend-box {
    width: 166px;
height: 130.32px;
background: white;
text-transform: capitalize;
text-align: center;
padding-top: 60px;
border-radius: 10px;
margin-top: 100px;
color: rgba(12, 22, 35, 1);

}
.recomend-block ion-icon {
    font-size:  30px;
    padding-top: 30px;
    color: rgba(0, 149, 164, 1);
    
}

.recomend-box2 {
    width: 166px;
height: 130.32px;
background: white;
text-transform: capitalize;
text-align: center;
padding-top: 60px;
border-radius: 10px;
margin-top: 170px;
color: rgba(12, 22, 35, 1);

}
.recomend-box h4 {
    padding-top: 15px;
}

.recomend-block {
    display: flex;
    gap: 25px;

}
.recomend-start {
    display: flex;
    justify-content: space-between;
    
}

.recomend p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
color: rgba(12, 22, 35, 0.8);

}

.recomend-class {
width: 1300px;
height: 735px;
background:white;

}
.recomend-class h2 {
    font-family: Taviraj;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: center;
color: rgba(12, 22, 35, 1);
padding-top: 130px;

}
.recomend-class p {
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 500;
text-align: center;
color: rgba(16, 28, 38, 1);
text-transform: capitalize;
padding-top: 20px;

}

.recomend-class img {
    padding-top: 300px;
    position: absolute;
}

.rec-box {
    width: 240px;
height: 300px;
border-radius: 8px ;
background:white;
box-shadow: 6px 8px 46px 10px rgba(130, 172, 162, 0.25);


}
.recomend-boxes ion-icon {
font-size:  54px;
padding-top: 54px;
padding-left: 100px;
color: rgba(0, 149, 164, 1);

}
.recomend-boxes {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 150px;

}
.info {
    background: rgba(232, 239, 244, 1);
}
.info-box {
width: 370px;
height: 446px;
border-radius: 10px;
background:white;
box-shadow: 6px 8px 40px 0px rgba(164, 166, 168, 0.25);


}
.info h2 {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: center;
color: black;
padding-top: 20px;

}
.info span {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: center;
color: rgba(0, 149, 164, 1); ;

}
.info p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
text-align: center;
color: rgba(16, 28, 38, 0.8);
padding: 17px 0;

}

.info h3 {
    font-family: Playfair Display;
font-size: 32px;
font-weight: 600;
line-height: 38.4px;
text-align: center;
color: rgba(12, 22, 35, 1);
padding-top: 12px;

}

.info h5 {
font-family: Playfair Display;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(9, 151, 164, 1);
text-transform: capitalize;

}
.info-block {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;

}

.gallery1 {
    position: absolute;
    padding-left: 20px;
}
.gallery2 {
    position: relative;
    padding-top: 130px;
    padding-left: 70px;
}
.gallery3 {
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}

.gallery4 {
    position: relative;
    padding-left: 220px;
    padding-top: 150px;
}
.gallery5 {
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}

.gallery6 {
    position: relative;
    padding-left: 60px;
}
.gallery7 {
    padding-left: 30px;
}
.gallery h2 {
    padding-top: 70px;
}