* {
    padding: 0;
    margin: 0 ;
}
.container {
    width: 1200px;
    padding: 0px 20px;
}

.header {

height: 60px;
background: rgba(244, 253, 254, 1);

}

.header a {

    text-decoration: none;
    font-family: Playfair Display;
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
color: rgba(16, 28, 38, 1);


}

.header button {
font-family: Playfair Display;
font-size: 16px;
font-weight: 600;
line-height: 19.2px;
text-align: center;
color: rgba(255, 255, 255, 1);
background: rgba(0, 149, 164, 1);
width: Hug (106px)px;
height: Hug (39px)px;
padding: 10px 24px 10px 24px;
margin-left: 20px;
border-radius: 50px;
border: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding-left: 100px;

}

.hero h1 {
    font-family: Playfair Display;
font-size: 68px;
font-weight: 700;
line-height: 81.6px;
text-align: left;
color: rgba(12, 22, 35, 1);
text-transform: capitalize;
}
.hero span {
    font-family: Playfair Display;
font-size: 68px;
font-weight: 700;
line-height: 81.6px;
text-align: left;
color: rgba(0, 149, 164, 1);
}
.hero p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 27.2px;
text-align: left;
color: rgba(18, 34, 55, 1);
}
.hero button {
    width: 154px;
    height: 52px;
    border-radius: 60px;
    background: rgba(0, 149, 164, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    font-family: Playfair Display;
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: center;
margin-top: 10px;

}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.hero-box {
    width: 353px;
    height: 181px;
border-radius: 6px ;
background: rgba(255, 255, 255, 1);


}
.hero-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

.hero-box h4 {
    font-family: Playfair Display;
font-size: 18px;
font-weight: 600;
line-height: 21.6px;
text-align: left;
color: rgba(12, 22, 35, 1);
text-transform: capitalize;
}
.hero-box h5 {
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
text-align: left;
color: rgba(62, 86, 88, 0.7);
text-transform: capitalize;
padding: 10px 0;
}

.hero-box button {
    width: 92px;
height: 28px;
top: 637px;
left: 225px;
border-radius: 10px;
font-family: Playfair Display;
border: none;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
color: rgba(54, 198, 207, 1);
background: rgba(162, 166, 168, 0.7);
text-transform: capitalize;


}
.hero-box p {
    font-family: Playfair Display;
font-size: 18px;
font-weight: 500;
line-height: 21.6px;
text-align: left;
color: rgba(54, 198, 207, 1);
padding-top: 10px;
}
.img {

    position: absolute;
    padding-top: 20px;
    padding: 50px 40px;
    
  

}

.hero-box {
    position: absolute;
    margin-top: 150px;

}

.hero-box2 {
    width: 288px;
height: 189px;
left: 1048px;
top: 230px;
border-radius: 6px;
background:white;
position: absolute;
box-shadow: 8px 8px 49px 0px rgba(25, 57, 70, 0.25);

}
.hero-block2 {
    width: 62px;
height: 62px;
padding-left: 245px;
transform: translateY(-20px);



}

.block h4 {
    font-family: Playfair Display;
font-size: 24px;
font-weight: 500;
color: rgba(2, 28, 28, 1);
text-transform: capitalize;
padding-left: 15px;

}

.block h5 {
    font-family: Playfair Display;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
color: rgba(62, 86, 88, 0.7);
text-transform: capitalize;
padding-left: 15px;
}

.block span {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
text-align: left;
color: rgba(54, 198, 207, 1);
}
.block p {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 400;
line-height: 20.2px;
padding-left: 15px;
color: rgba(18, 34, 55, 1);
}

.background1 {
    padding-top: 300px;
width: 1240px;
height: 20px;
background:white;
}
.background2 {
    width: 1300px;
    padding-top: 60px;
    height: 180px;
    background: rgba(232, 239, 244, 1);
}
.recomend {
    width: 1300px;
height: 735px;
background: rgba(244, 253, 254, 1);


}
.recomend h3 {
    font-family: Playfair Display;
font-size: 46px;
font-weight: 600;
padding-left: 50px;
padding-top: 60px;
padding-bottom: 30px;
color: rgba(12, 22, 35, 1);
}

.recomend span {
    font-family: Playfair Display;
font-size: 46px;
font-weight: 600;
line-height: 55.2px;
color: rgba(0, 149, 164, 1);
}
.recomend img {
    position: absolute;


}
.recomend-image {
    position: relative;
    width: 284px;
height: 417px;
top: 257px;
left: 339px;

}

.recomend-box {
    width: 166px;
height: 130.32px;
background: white;
text-transform: capitalize;
text-align: center;
padding-top: 60px;
border-radius: 10px;
margin-top: 100px;
color: rgba(12, 22, 35, 1);
box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);

}
.recomend-block ion-icon {
    font-size:  30px;
    padding-top: 30px;
    color: rgba(0, 149, 164, 1);
   

}

.recomend-box2 {
    width: 166px;
height: 130.32px;
background: white;
text-transform: capitalize;
text-align: center;
padding-top: 60px;
border-radius: 10px;
margin-top: 170px;
color: rgba(12, 22, 35, 1);
box-shadow: 0px 6px 18px 0px rgba(0, 0, 0, 0.06);

}
.recomend-box h4 {
    padding-top: 15px;
}

.recomend-block {
    display: flex;
    gap: 25px;

}
.recomend-start {
    display: flex;
   justify-content: space-between;
  
    
}

.recomend p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
color: rgba(12, 22, 35, 0.8);


}

.recomend-class {
width: 1300px;
height: 735px;
background:white;

}
.recomend-class h2 {
    font-family: Taviraj;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: center;
color: rgba(12, 22, 35, 1);
padding-top: 130px;

}
.recomend-class p {
    font-family: Playfair Display;
    font-size: 24px;
    font-weight: 500;
text-align: center;
color: rgba(16, 28, 38, 1);
text-transform: capitalize;
padding-top: 20px;

}

.recomend-class img {
    padding-top: 300px;
    position: absolute;
}

.rec-box {
    width: 240px;
height: 300px;
border-radius: 8px ;
background:white;
box-shadow: 6px 8px 46px 10px rgba(130, 172, 162, 0.25);


}
.recomend-boxes ion-icon {
font-size:  54px;
padding-top: 54px;
padding-left: 100px;
color: rgba(0, 149, 164, 1);

}
.recomend-boxes {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-top: 150px;

}
.info {
    background: rgba(232, 239, 244, 1);
}
.info-box {
width: 370px;
height: 446px;
border-radius: 10px;
background:white;
box-shadow: 6px 8px 40px 10px rgba(164, 166, 168, 0.25);



}
.info h2 {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: center;
color: black;
padding-top: 20px;

}
.info span {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
text-align: center;
color: rgba(0, 149, 164, 1); ;

}
.info p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28.8px;
text-align: center;
color: rgba(16, 28, 38, 0.8);
padding: 17px 0;

}

.info h3 {
    font-family: Playfair Display;
font-size: 32px;
font-weight: 600;
line-height: 38.4px;
text-align: center;
color: rgba(12, 22, 35, 1);
padding-top: 12px;

}

.info h5 {
font-family: Playfair Display;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(9, 151, 164, 1);
text-transform: capitalize;

}
.info-block {
    display: flex;
    justify-content: space-around;
    margin-left: 50px;

}

.gallery1 {
    position: absolute;
    padding-left: 20px;
}
.gallery2 {
    position: relative;
    padding-top: 130px;
    padding-left: 70px;
}
.gallery3 {
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}

.gallery4 {
    position: relative;
    padding-left: 220px;
    padding-top: 150px;
}
.gallery5 {
    position: absolute;
    padding-left: 20px;
    padding-top: 30px;
}

.gallery6 {
    position: relative;
    padding-left: 60px;
}
.gallery7 {
    padding-left: 30px;
}
.gallery h2 {
    padding-top: 70px;
}
.end {
    background: white;
    width: 1240px;
    height: 180px;

}

.application img {
    position: absolute;
}
.application-block {
    position: relative;
    
}
.application-block h2 {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
letter-spacing: 0.03em;
color: white;
text-transform: capitalize;
padding-top: 120px;
padding-left: 100px;
}

.application-block span {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 57.6px;
letter-spacing: 0.03em;
color:rgba(9, 151, 164, 1); ;

}
.application-block p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 27.2px;
color: white;
padding-left: 100px;
}
.application img {
    width: 1240px;
    height: 750px;
}
.application-box {
    width: 510px;
height: 644px;
border-radius: 280.51px 280.51px 0px 0px;
background: white;
margin-left: 650px;


}
.application-box h5{
    font-family: Playfair Display;
font-size: 24px;
font-weight: 600;
line-height: 28.8px;
text-align: center;
color: rgba(12, 22, 35, 1);
padding-top: 30px;

}
.application-box h4 {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 600;
line-height: 19.2px;
padding-left: 70px ;
color: rgba(12, 22, 35, 1);
}

.application-boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.application-boxes input {
    width: 180px;
height: 45px;
border-radius: 6.04px ;
border: 0.57px solid rgba(118, 152, 154, 1);
background: rgb(202, 233, 234);

}
.application-boxes input::placeholder {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
color: rgba(16, 28, 38, 0.6);
text-align: center;
  
}

.input3 {
 width: 400px;
height: 100px;
border-radius: 6.04px ;
border: 0.57px;
border: 0.57px solid rgba(118, 152, 154, 1);
background:rgb(202, 233, 234);
margin-left: 50px;


}
.input3::placeholder {
    font-family: Playfair Display;
font-size: 16px;
font-weight: 400;
color: rgba(16, 28, 38, 0.6);
text-align: center;
  
}
.application-box button {
    width: 379.09px;
height: 45.67px;
border-radius: 31.52px ;
background: rgba(3, 149, 164, 1);
border: none;
font-family: Playfair Display;
font-size: 18px;
font-weight: 700;
line-height: 21.6px;
text-align: center;
color: rgba(255, 255, 255, 1);
margin-left: 55px;
margin-top: 20px;

}

.application-box p {
    font-family: Taviraj;
font-size: 12.66px;
font-weight: 400;
color: rgba(110, 113, 137, 1);
}


.accord {
width: 1240px;
height: 500px;
background: rgba(232, 239, 244, 1);
padding-top: 70px;

}

.accord h2 {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
line-height: 62.4px;
color: rgba(12, 22, 35, 1);



}
.accord span {
    font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
color: rgba(3, 149, 164, 1);

}
.accord p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
color: rgba(16, 28, 38, 0.8);
padding-top: 10px;

}

.faq {
 width: 600px;
height: 80px;
border-radius: 5px;
padding-top: 10px;

}

.faq-item {
    border: 1px solid white;
    border-radius: 5px;
    background: hsl(0, 0%, 100%);
  
}

.faq-text {
display: none;
font-family: Barlow;
font-size: 14px;
font-weight: 500;
line-height: 16.8px;
text-align: left;
color: white;
padding: 10px 15px ;
}
  
  
.faq-title {
color: rgba(12, 22, 35, 1);
font-family: Barlow;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  text-align: left;
  display: block;
  cursor:pointer;
  padding: 10px 15px ;

}

.faq-unput {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
} 

.faq-input:checked + .faq-text{
    display: block;
    
}

.faq-1 {
margin:20px 0 ;
border-radius: 5px ;
border: 1px solid rgba(63, 195, 202, 1);
box-shadow: 6px 10px 50px 10px rgba(151, 196, 248, 0.25);


 }

.accord {
    display: flex;
    justify-content: space-around;
    
 }

 .footer {
    width: 1240px;
height: 317px;
background: rgba(12, 22, 35, 1);
padding-top: 50px;


}

.footer h2 {
font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
text-align: center;
color: rgba(255, 255, 255, 1);

}
.footer span {
font-family: Playfair Display;
font-size: 48px;
font-weight: 600;
text-align: center;
color: rgba(3, 149, 164, 1);

}
.footer p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 20.8px;
text-align: center;
color: rgba(255, 255, 255, 0.8);
padding: 30px 0;
}

.footer button {
    width: 154px;
height: 54px;
border-radius: 60px;
border: none;
background: rgba(3, 149, 164, 1);
color: rgba(255, 255, 255, 1) ;
font-family: Playfair Display;
font-size: 16px;
font-weight: 700;
text-align: center;
margin-left: 510px;

}

.footer-info {
    width: 1240px;
height: 202px;
background: white;

}
.footer-info {
    display: flex;
    justify-content: space-around;
    padding-left: 50px;
}

.footer-info h4 {
    font-family: Playfair Display;
font-size: 24px;
font-weight: 600;
line-height: 31.99px;
text-align: left;
padding: 10px 10px;

}

.footer-box p {
    font-family: Inter;
font-size: 16px;
font-weight: 500;
color: rgba(17, 28, 30, 0.8);
padding-left: 10px;

}


.footer-box {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.footer-text {
width: 1240px;
height: 360px;
background: rgba(12, 22, 35, 1);
display: flex;
justify-content: space-around;
padding-top: 50px ;

}

.footer-text h4 {
    font-family: Playfair Display;
font-size: 24px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
padding-bottom: 30px;

}

.footer-text p {
    font-family: Inter;
font-size: 16px;
font-weight: 400;
color: rgba(255, 255, 255, 0.9);
padding-bottom: 30px;
}

.footer-text h5 {
    font-family: Playfair Display;
font-size: 18px;
font-weight: 400;
color: rgba(255, 255, 255, 1);
padding-top: 10px;

}

.button1 {
    width: Hug (146px)px;
height: Hug (51px)px;
top: 6310px;
left: 552px;
padding: 16px 37px 16px 37px;
gap: 10px;
border-radius: 60px;
color: white;
background: rgba(3, 149, 164, 1);
border: none;
margin-right: 25px;

}
.button2 {
    width: Hug (147px)px;
    height: Hug (54px)px;
    top: 6310px;
    left: 746px;
    padding: 16px 22px 16px 22px;
    gap: 10px;
    border-radius: 60px;
    border: 1px;
    border: 1px solid rgba(3, 149, 164, 1);
    color: rgba(3, 149, 164, 1);    
    background: rgba(12, 22, 35, 1);  

}
.footer-logo ion-icon {
    width: 30px;
height: 30px;
font-size: 18px;
border-radius: 20px;
background: rgba(3, 149, 164, 1);
color: white;
padding-left: 8px;
padding-top: 8px;
margin-right: 10px;

}
.footer-end {
    width: 1240px;
 text-align: center;
background: rgba(12, 22, 35, 1);
 font-family: Inter;
font-size: 18px;
font-weight: 400;
color: rgba(255, 255, 255, 1);
padding-bottom: 50px;
padding: 20px 20px;

}

.burger-icon {
    display: none;
}


@media (max-width:1024px) {
    
}

@media (max-width:890px) {
    .header nav {
        display: none;
    }
    .header a {
        display: none;
    }

    .burger-icon {
        display: block;
    }
    .header button {
        display: none;
    }
    .hero h1 {
        font-size: 60px;
        padding: 2px 0;
    }
    .hero p {
        width: 339px;
        font-size: 19px;
        padding: 13px 0;
    }
    .hero-img {
        width: 35%;
    }

    .hero-block2 {
        width: 80%;
    }
    .recomend p {
    font-size: 14px;
    }

    .recomend-block {
      width: 80%;

    }
    .recomend-group {
      width: 60%;
    }
    .info-block {
     width: 80%;

    }
    .info-box {
      width: 80%;
    }

    .application {
     width: 80%;

    }
}

@media (max-width: 530px) {
     .container {
        padding: 0 20px;

     }
    .hero h1 {
        font-size: 40px;

    }

    .hero-group {
        display: flex;
        flex-wrap: wrap;
    }
    .hero-box2 {
        width: 60%;

    }
    .recomend h3 {
        font-size: 40px;
        
    }
    .recomend-class h2 {
        font-size: 40px;

    }

    .recomend-block {
        width: 80%;
    }
    .recomend-boxes {
        width: 90%;
    }
    .info-box {
        width: 50%;
    }
    .application {
        width: 80%;

    }
    .accord h2 {
        font-size: 40px;

    }
    .footer h2 {
        font-size: 40px;

    }
}
        
 @media (max-width:430px) {
    .hero img {
     width: 80%;

    }

    .hero-box2 {
        width: 50%;
        height: 20%;
        padding-top: 10px;
    
    }
    .hero-box2 p {
        display: none;
       
    }
    .hero-block2 {
     display: none;
    
   }
    .application {
        width: 50%;

    }
    .application-block { 
        width: 80%;
       
    }
    .input3 {
        height: 10%;
    }
   
    .accord {
       width: 99%;
    }
    .footer {
        width: 99%;
    }
    .footer-box {
        width: 99%;
    }
    .footer-text {
        display: flex;
        justify-content: space-around;
    }
    .footer-text {
        background: white;

    }
    .footer-text p {
        color: black;
    }
    .footer-text h4 {
        color: black;
    }
    .footer-text h5 {
        color: black;
    }
    .footer-end {
        width: 80%;
        background: white;
        color: black;
    }
}

@media (max-width:320px) {
    .hero {
        width: 80%;
        
       
    }

    .info-block {
        width: 70%;
    }

    .info-box {
        width: 70%;
        margin-right: 10px;
    }
}